In [3]:
# Integer and Float
int_num = 5 # Integer
float_num = 3.14 # Float
complex_num = 2 + 3j # Complex Number
print(type(int_num), type(float_num), type(complex_num))

<class 'int'> <class 'float'> <class 'complex'>

In [4]:
a = 5.1
float_num = 3.14
complex_num = 3 + 4j

print(type(a), float_num)

<class 'float'> 3.14

In [5]:
greeting = "Welcome to Data Science!"
print(greeting)
print(greeting.lower()) # Lowercase
print(greeting[0:7]) # Slicing

Welcome to Data Science!
welcome to data science!
Welcome

In [6]:
a = "CODEBOOSTERS"
print(a.lower())

codeboosters

In [7]:
a = True
print(f"Is Data Scientist: {a}")

Is Data Scientist: True

In [9]:
# List
fruits = ["apple", "banana", "cherry"]
print(f"Fruits List: {fruits}")

# Tuple
dimensions = (1920, 1080)
print(f"Dimensions Tuple: {dimensions}")

# Set
unique_numbers = {1, 2, 3, 2, 1}
print(f"Unique Numbers Set: {unique_numbers}")

# Dictionary
person = {"name": "Alice", "age": 30}
print(f"Person Dictionary: {person}")

Fruits List: ['apple', 'banana', 'cherry']
Dimensions Tuple: (1920, 1080)
Unique Numbers Set: {1, 2, 3}
Person Dictionary: {'name': 'Alice', 'age': 30}

In [ ]:
# List
fruits = ["apple", "banana", "cherry"]
a = [1, "abc"]
print(f"Fruits List: {fruits}")
print(a)

Fruits List: ['apple', 'banana', 'cherry']
[1, 'abc']

In [ ]:
# Tuple
dimensions = (1920, 1080)
print(f"Dimensions Tuple: {dimensions}")

Dimensions Tuple: (1920, 1080)

In [ ]:
# Set
unique_numbers = {1, 2, 3, 2, 1,4, 4}
print(f"Unique Numbers Set: {unique_numbers}")

Unique Numbers Set: {1, 2, 3, 4}

In [ ]:
# Dictionary - key value pair
person = {"name": "Alice", "age": 30}
print(f"Person Dictionary: {person}")

Person Dictionary: {'name': 'Alice', 'age': 30}

In [ ]:
ppg = {"REG NO": 0, "NAME": "NIVASHINI", "SUBJECT": "PYTHON"}
ppg1 = {"REG NO": 1, "NAME": "dhivya", "SUBJECT": "AI"}

print(f"details: {ppg} {ppg1}")

details: {'REG NO': 0, 'NAME': 'NIVASHINI', 'SUBJECT': 'PYTHON'} {'REG NO': 1, 'NAME': 'dhivya', 'SUBJECT': 'AI'}

In [ ]:
a = 2 + 3
b = "2"+"3"
print(a)
print(b)
print(type(b))

5
23
<class 'str'>

In [10]:
# Defining a function
def ab(a, b, c):
 return a + b - c

# Using the function
result = ab(10, 5, 10)
codeboosters = ab(20, 20, 20)
ab = ab(10, 15, 10)

print(result)
print(codeboosters, ab)

5
20 15

In [ ]:
a = 20
b = 5
c = 10
result = a * b - c

print(result)

90

In [ ]:
numbers = [1, 2, 3, 4, 5, 100]
print(f"Sum: {sum(numbers)}")
print(f"Max: {max(numbers)}")

Sum: 115
Max: 100

In [ ]:
# Example: Determine if a number is positive, negative, or zero
num = 0
if num > 0:
  print("Positive")
elif num == 0:
  print("Zero")
else:
  print("Negative")

Zero

In [ ]:
count = 2
while count < 5:
  print(f"C: {count}")
  count += 1

C: 2
C: 3
C: 4