# 🐍 Python Basics Practice Notebook

This notebook contains **20 foundational problems** and **5 real-time examples** to practice Python from scratch.

### 🔹 Store and print user info

In [ ]:
# Problem 1: Store and Print User Info

# Explanation:
# Variables are containers for storing data values.
# Here we create variables for name, age, and city and then print them.

name = "John"
age = 25
city = "New York"

print("Name:", name)
print("Age:", age)
print("City:", city)

Name: John
Age: 25
City: New York

### 🔹 Add two numbers

In [ ]:
# Problem 2: Add Two Numbers

# Explanation:
# Taking input from user using input(), converting to int using int().
# Then adding and printing the result.

a = int(input("Enter first number: "))
b = int(input("Enter second number: "))
print("Sum:", a + b)

Enter first number: 30
Enter second number: 40
Sum: 70

### 🔹 Check data types of inputs

In [ ]:
# Problem 3: Check Data Types

a = 10
b = 3.14
c = "Python"

print(type(a))  # int
print(type(b))  # float
print(type(c))  # str

### 🔹 Convert input to float and calculate area

In [ ]:
# Problem 4: Convert Input to Float and Calculate Area

radius = float(input("Enter radius of circle: "))
area = 3.14159 * radius * radius
print("Area of circle:", area)

### 🔹 Count vowels in a string

In [ ]:
# Problem 5: Count Vowels in a String

text = input("Enter a string: ")
vowels = "aeiouAEIOU"
count = 0

for char in text:
    if char in vowels:
        count += 1

print("Number of vowels:", count)

### 🔹 Reverse a word

In [ ]:
# Problem 6: Reverse a Word

word = input("Enter a word: ")
print("Reversed:", word[::-1])

### 🔹 Average of N numbers

In [ ]:
# Problem 7: Average of N Numbers

nums = []
n = int(input("How many numbers? "))

for i in range(n):
    val = float(input(f"Enter number {i+1}: "))
    nums.append(val)

average = sum(nums) / len(nums)
print("Average is:", average)

### 🔹 Find maximum number from a list

In [ ]:
# Problem 8: Find Maximum in List

numbers = [10, 55, 32, 64, 29]
print("Max value:", max(numbers))

### 🔹 Add/Remove items from list

In [ ]:
# Problem 9: List Add/Remove

fruits = ["apple", "banana", "cherry"]
fruits.append("orange")
fruits.remove("banana")
print(fruits)

### 🔹 Print 1 to 10 using for loop

In [ ]:
# Problem 10: Print 1 to 10 using For Loop

for i in range(1, 11):
    print(i)

### 🔹 Sum of first N numbers

In [ ]:
# Problem 11: Sum of First N Numbers

n = int(input("Enter a number: "))
total = 0
for i in range(1, n+1):
    total += i
print("Sum:", total)

### 🔹 Count digits in a number

In [ ]:
# Problem 12: Count Digits using While Loop

num = int(input("Enter a number: "))
count = 0
while num > 0:
    num = num // 10
    count += 1
print("Number of digits:", count)

### 🔹 Check if a number is even/odd

In [ ]:
# Problem 13: Even or Odd

n = int(input("Enter a number: "))
if n % 2 == 0:
    print("Even")
else:
    print("Odd")

### 🔹 Grade student based on marks

In [ ]:
# Problem 14: Grade Student

marks = int(input("Enter marks: "))
if marks >= 90:
    print("Grade A")
elif marks >= 75:
    print("Grade B")
elif marks >= 50:
    print("Grade C")
else:
    print("Fail")

### 🔹 Check leap year

In [ ]:
# Problem 15: Leap Year Checker

year = int(input("Enter year: "))
if (year % 4 == 0 and year % 100 != 0) or (year % 400 == 0):
    print("Leap Year")
else:
    print("Not a Leap Year")

### 🔹 Create a greeting function

In [ ]:
# Problem 16: Greeting Function

def greet(name):
    print("Hello", name)

greet("Veera")

### 🔹 Find factorial of a number

In [ ]:
# Problem 17: Factorial using Function

def factorial(n):
    result = 1
    for i in range(1, n+1):
        result *= i
    return result

print(factorial(5))

### 🔹 Prime number checker

In [ ]:
# Problem 18: Prime Checker

def is_prime(n):
    if n <= 1:
        return False
    for i in range(2, n):
        if n % i == 0:
            return False
    return True

print(is_prime(11))

### 🔹 Store student data and display

In [ ]:
# Problem 19: Dictionary for Student Info

student = {
    "name": "Rahul",
    "age": 21,
    "marks": [85, 78, 92]
}
print(student)
print("Name:", student["name"])

### 🔹 Remove duplicates from list using set

In [ ]:
# Problem 20: Remove Duplicates Using Set

nums = [1, 2, 2, 3, 4, 4, 5]
unique = list(set(nums))
print("Unique values:", unique)

## 🚀 Real-Time Practice Projects (Mini Tasks)
Each of these can be given as an assignment.

### 🔸 BMI Calculator

In [ ]:
# BMI Calculator

weight = float(input("Enter weight in kg: "))
height = float(input("Enter height in meters: "))

bmi = weight / (height ** 2)
print("Your BMI is:", round(bmi, 2))

### 🔸 Simple Interest Calculator

In [ ]:
# Simple Interest Calculator

p = float(input("Enter principal: "))
r = float(input("Enter rate: "))
t = float(input("Enter time in years: "))

si = (p * r * t) / 100
print("Simple Interest:", si)

### 🔸 Password Validator

In [ ]:
# Password Validator

password = input("Enter password: ")

if len(password) >= 8 and any(c.isdigit() for c in password) and any(c.isupper() for c in password):
    print("Strong password!")
else:
    print("Weak password. Use at least 8 characters, a digit, and a capital letter.")

### 🔸 Student Marks Report

In [ ]:
# Student Marks Report Generator

def generate_report(name, marks):
    print("Report for", name)
    print("Marks:", marks)
    print("Average:", sum(marks)/len(marks))

generate_report("Veera", [80, 75, 92])

### 🔸 Shopping Cart Simulator

In [ ]:
# Shopping Cart Simulator

cart = []

while True:
    item = input("Enter item to add (or 'done' to exit): ")
    if item == 'done':
        break
    cart.append(item)

print("Items in cart:", cart)